body{
    align-items: center;
    text-align: center;
    direction: rtl;
    font-family: 'david';
    color: white;
}
body, html {
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("פיבו.jpg");
 
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}

.backToQ{
    float: right;
    font-size: 50px; 
}

body:after{
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: hsla(260,0%,50%,0.25);
    pointer-events: none;
}
  

#sample{
    border-radius: 50px;
    color: white;
}
  
h3{
    font-size: 60px;
}

button{
    font-family: 'david';
    background-color: black;
    border-style: ridge;
    color: aliceblue;
    font-size: 70px;
    border-radius: 50px;
}

input{
    color: aliceblue;
    font-family: 'david';
    background-color: black;
    border-style: groove;
    margin: auto;
    top: 50%;
    left: 50%;
    right: auto;
    font-size: 70px;
}

.lock {
    top: 90px;
    background:white;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 60px;
    position: relative;
    margin: auto;
    margin-right: auto;
    margin-right: auto;
}

h1{
    font-size: 70px;
    text-align: center;
    
}

h1 span, h3 span{
    color: white;
    background-color: black;
}

.lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid white;
    top: -25px;
    left: 12px;
    width: 50px;
    height: 65px;
    border-radius: 35px 35px 0 0;
}