body{
    align-items: center;
    text-align: center;
    direction: rtl;
}
body, html {
    height: 100%;
    margin: 0;
    background-image: url("פיבו.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body:after{
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: hsla(260,0%,50%,0.25);
    pointer-events: none;
  }
  

#sample{
    border-radius: 30px;
    color: black;
}
  
h3{
    font-size: 50px;
}

button{
    font-size: 35px;
    border-radius: 30px;
}

input{
    margin: auto;
    top: 50%;
    left: 50%;
    right: auto;
    font-size: 40px;
}

.lock {
    background:white;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 60px;
    position: relative;
    align-items: center;
    margin: auto;
    margin-right: auto;
    margin-right: auto;
}

h1{
    font-size: 70px;
    text-align: center;
    
}

h1 span{
    color: white;
    background-color: black;
}

.lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid white;
    top: -25px;
    left: 12px;
    width: 50px;
    height: 65px;
    border-radius: 35px 35px 0 0;
}