body{
    background-color: rgba(34, 119, 247, 0.534);
    cursor: default;
    direction: rtl;
}

.options{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.header{
    font-family: 'david';
    font-size: 60px;
    direction: rtl;
    text-align: center;
    color: black;
}


nav ul li{
    --c: rgba(14, 141, 245);
    color: var(--c);
    font-size: 18px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 25em;
    height: 3em;
    font-weight: bold;
    font-family: "david";
    letter-spacing: 0.1em;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    left: 2rem;
}

nav ul li span {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

#next{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    font-size: 40px;
    direction: rtl;
    color: bisque;
}
  
/* visited link */
a:visited {
    font-size: 40px;
    direction: rtl;
    color: white;
}

/* mouse over link */
a:hover {
    font-size: 40px;
    direction: rtl;
    color: cornsilk;
}

/* selected link */
a:active {
    font-size: 40px;
    direction: rtl;
    color: darkseagreen;
}
